.cadastro{
    width: 320px;
    height: 350px;
    background-color: #cccccc5c;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
    display: none;
    flex-wrap: wrap;
    
}

#isexoH, #isexoM{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: 2px;
}

#criarConta, #criarConta input{
    margin-top: 12px;
}

#radio{
    margin-top: 15px;
}