*{
    margin: 0px;
    padding: 0px;
}
/*Configurações de class para facilitar a criação das atividades*/
/*https://www.youtube.com/watch?v=Nloq6uzF8RQ*/
/*https://www.youtube.com/watch?v=JJiyguTeBzU*/
body{
    background-color: rgb(37, 37, 37);
    
}

h1, p, h2{
    color: white;
    margin-left: 50px;
}
div{
    width: 100px;
    height: 100px;
    display: inline-block;
    
}
.titulo{
    width: 100%;
    height: 30px;
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    border-bottom: 0px;
    box-sizing: border-box;

    
}

section{
    width: 90vw;
    height: 300px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    margin-top: 30px;

}

.blue{
    background-color: rgb(65, 65, 249);
}

.red{
    background-color: rgb(255, 67, 67);
}

.green{
    background-color: rgb(19, 167, 19);
}

.yellow{
    background-color: rgb(230, 230, 80);
}

/*Animações*/
/*Dentro do CSS temos duas formas de adicionar animações*/
/*1- Atravéz de alguma interação por parte de usuario, um click, hover, chexbox, focus etc. Esse tipo de animação é chamando de transição, onde eu vou de um estado A para um estado B trocando os estilos e propriedades do elemtento. Geralmente essa animações são mais simples.*/
/*2- Temos as animações automaticas, que são ativadas quando o site carrega, essa são bem mais proderosas e mais complexas.*/

/*Para criarmos uma animação precissamos definir uma class ou id para o elemento, com isso dentro do css adsionamos uma propriedade transition:, com ela pode definir o que vai ser mudado, quanto tempo vai demorar, um tempo até o efeito começas.*/
.transitionBackground{
    transition: background 2000ms;
    /*Aqui temos o transition, essa animação ira modificar o background-color para amarelo, para isso expecificamos o background (Afirmando que a transição se refere a ele)e o tempo que vai demorar para terminar essa animação que nesse caso é 2000ms ou 2s = 2 segundos. */
    /*É uma boa pratica colocar o tempo de duração da transição em milisegundos, pois o javascript trabalha dessa forma, mais se utilizar em segundos também funciona */
    /*No que você pode apricar uma transição? Basicamente tudo que pode ser quantificado(tenha quantidade, numerico), nesse exemplo temos um background e vamos mudar a sua cor, para isso havera uma transição da cor vermelha para a amarela passando por todas as cores que ficam entre elas, ou seja, so pode ser utilizado a transição em propriedades que tem valores numericos, a mudança de um display por exemplo, não pode ser usado como parametro na transition pois ela não tem valor numerico.*/
}

.transitionBackground:hover{
    background-color: yellow;
    /*O hover é uma pisseudo classe, ele é ativado quando o mouse passa por cima do elemento, neste caso então quando o mouse passar por cima do elemnto o fundo do elemento passara a ser amarelo.*/
    
}
/*Percebemos então que para criar um efeito é necessario criar uma classe e dentro do css adiconar um transition dentro dessa classe, e logo após colocar colocar uma forma de atrivar essa transição, nesse caso com o hover, e quando o hover for ativado ele vai mudar o fundo do elemento para amarelo com uma transição de 2 segundos.*/

.transitionSize{
    transition: transform 1000ms;
    /* o transition aplica um efeito de transição a propriedade transform que pode ser utilizada para modificar os elementos.*/
}

.transitionSize:hover{
    transform: scale(1.5);
    /* Nesse caso a propriedade transforme está sendo usada almentar o elemento em 1.5x utilizando a função scale(). */
}

.transitionRotate{
    transition: transform 1000ms;
}

.transitionRotate:hover{
    transform: rotateZ(180deg)
}

.transitionDelay{
    transition: width 1000ms 1200ms , height 2000ms;
    /* Seadicionarmos um numero valor numerio depois do 1000ms ele vai ser contabilizando como o delay para ele executar, um tempo que a transiçao vai esperar para começar a executar. */
    /* Também podemos apenas adicionar o transition-dalay e dar um valor. */
    /* Caso você queira colocar mais de uma transição você deve separar por virgula e adicionar ela, da forma que foi feito a cima. */
    /* Nesse caso vamos mudar a altura e alargura de um elemento com tempo de turação da trasição diferentes, dando um efeito bem legal. */
    
}

.transitionDelay:hover{
    width: 200px;
    height: 200px;
    /* Aqui eu coloco o quando eu quero que o elemento cresça */
    
}

.transitionChecked{
    transition: transform 800ms;
    height: 40px;
    width: 40px;
    border: none;
}

.transitionChecked:checked{
    transform: rotateY(360deg);
}

.transitionRadio{
    width: 30px;
    height: 30px;
    transition: transform 1000ms;
}

.transitionRadio:checked{
    transform: scale(1.2);
}